<a href="https://colab.research.google.com/github/Maffyo/Maffyo/blob/main/API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json
import requests

In [ ]:
api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"

In [ ]:
def get_number_of_jobs_T(technology):

  response = requests.get(api_url, params={'Key Skills': technology})
  if response.status_code == 200:
    data = response.json()

    number_of_jobs = len(data)

    return technology, number_of_jobs

In [ ]:
response = requests.get(api_url)

In [ ]:
if response.ok:
    data = response.json()

In [ ]:
print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
response.status_code

200

In [ ]:
print(response.request.headers)

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [ ]:
header=response.headers
print(response.headers)

{'Date': 'Fri, 01 Mar 2024 17:26:46 GMT', 'X-Clv-Request-Id': '6160e7fa-61d8-4d2f-a4eb-a09228046319', 'Server': 'Cleversafe', 'X-Clv-S3-Version': '2.5', 'Accept-Ranges': 'bytes', 'x-amz-request-id': '6160e7fa-61d8-4d2f-a4eb-a09228046319', 'x-amz-mp-parts-count': '2', 'Cache-Control': 'max-age=0,public', 'ETag': '"444164853f0b0dc867ee9cbec13ef254-2"', 'Content-Type': 'application/json', 'Last-Modified': 'Tue, 28 Jun 2022 07:55:52 GMT', 'Content-Length': '12878382'}

In [ ]:
def get_number_of_jobs_T(technology):

  response = requests.get(api_url, params={'Key Skills': ' '})
  if response.status_code == 200:
    data = response.json()

    filtered_job = [job for job in data if technology in job.get('Key Skills', '')]

    number_of_jobs = len(filtered_job)

    return technology, number_of_jobs

In [ ]:
get_number_of_jobs_T("Python")

('Python', 1173)

In [ ]:
def get_number_of_jobs_L(location):

  response = requests.get(api_url)

  if response.status_code == 200:
    data = response.json()

    filtered_jobs = [job for job in data if job.get('Location') == location]

    number_of_jobs = len(filtered_jobs)

    return location, number_of_jobs

In [ ]:
location = "Los Angeles"

get_number_of_jobs_L(location)

('Los Angeles', 640)

In [ ]:
location = "New York"

get_number_of_jobs_L(location)

('New York', 3226)

In [ ]:
import openpyxl

from openpyxl import Workbook

In [ ]:
locations = ["Los Angeles",
    "New York",
    "San Francisco",
    "Washington DC",
    "Seattle",
    "Austin",
    "Detroit"
]

In [ ]:
wb = Workbook()
ws = wb.active

In [ ]:
ws.append(["Location", "Number of Jobs"])


for location in locations:
  location, number_of_jobs = get_number_of_jobs_L(location)
  ws.append([location, number_of_jobs])

In [ ]:
wb.save("job_postings.xlsx")
print("Data written to job_postings.xlsx")

Data written to job_postings.xlsx

In [ ]:
df = pd.read_excel("job_postings.xlsx")

In [ ]:
print(df)

         Location  Number of Jobs
0        Location  Number of Jobs
1     Los Angeles             640
2        New York            3226
3   San Francisco             435
4   Washington DC            5316
5         Seattle            3375
6          Austin             434
7         Detroit            3945
8        Location  Number of Jobs
9     Los Angeles             640
10       New York            3226
11  San Francisco             435
12  Washington DC            5316
13        Seattle            3375
14         Austin             434
15        Detroit            3945
16         Skills  Number of Jobs
17              C           13498
18             C#             333
19            C++             305
20           Java            2609
21     JavaScript             355
22         Python            1173
23          Scala              33
24         Oracle             784
25     SQL Server             250
26   MySQL Server               0
27     PostgreSQL              10
28        MongoDB             174
29         Skills  Number of Jobs
30              C           13498
31             C#             333
32            C++             305
33           Java            2609
34     JavaScript             355
35         Python            1173
36          Scala              33
37         Oracle             784
38     SQL Server             250
39   MySQL Server               0
40     PostgreSQL              10
41        MongoDB             174
42       Location  Number of Jobs
43    Los Angeles             640
44       New York            3226
45  San Francisco             435
46  Washington DC            5316
47        Seattle            3375
48         Austin             434
49        Detroit            3945

In [ ]:
Skills = [
    "C",
    "C#",
    "C++",
    "Java",
    "JavaScript",
    "Python",
    "Scala",
    "Oracle",
    "SQL Server",
    "MySQL Server",
    "PostgreSQL",
    "MongoDB"

]

In [ ]:
wd = Workbook()
wc = wd.active

In [ ]:
wc.append(["Skills", "Number of Jobs"])


for skill in Skills:
  skill, number_of_jobs = get_number_of_jobs_T(skill)
  wc.append([skill, number_of_jobs])

In [ ]:
wd.save("technology_job_postings.xlsx")
print("Data written to technology_job_postings.xlsx")

Data written to technology_job_postings.xlsx

In [ ]:
df1 = pd.read_excel("technology_job_postings.xlsx")

In [ ]:
df1.head(12)

          Skills  Number of Jobs
0              C           13498
1             C#             333
2            C++             305
3           Java            2609
4     JavaScript             355
5         Python            1173
6          Scala              33
7         Oracle             784
8     SQL Server             250
9   MySQL Server               0
10    PostgreSQL              10
11       MongoDB             174

In [ ]:
df.head(8)

        Location  Number of Jobs
0       Location  Number of Jobs
1    Los Angeles             640
2       New York            3226
3  San Francisco             435
4  Washington DC            5316
5        Seattle            3375
6         Austin             434
7        Detroit            3945